@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Black.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-BlackItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Light.ttf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Light.ttf') format('truetype');
    font-weight: light;
}
@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
