pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 5px;
}

code.diff {
  .keyword {
    color: var(--red);
  }
  .string {
    color: var(--green);
  }
  .attribute {
    color: var(--sapphire);
  }
}

code.fish, code.sh {
  .constant {
    color: var(--lavender);
  }
  .function {
    color: var(--yellow);
  }
  .operator {
    color: var(--peach);
  }
  .string {
    color: var(--green);
  }
}
