@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Black.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-BlackItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-Light.ttf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'Taviraj';
    src: url('fonts/Taviraj-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
}

h1,
h2,
h3 {
    font-family: 'Sarabun', sans-serif;
    font-weight: normal;
    align-self: center;
    text-align: center;
}

a {
    color: light-dark(#aa20bb, #773099);
}

body {
    font-family: 'Taviraj', serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    scrollbar-gutter: stable;
    overflow-y: scroll;
    background-color: light-dark(#f6efef, #2d2d3f);
    color: light-dark(#0a0a2a, #efdcef);
}

p {
    line-height: 1.4;
}

nav {
    padding-top: 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#content {
    align-self: center;
    box-sizing: border-box;
    padding: 0 30px;
    max-width: min(600px, 100vw);
}

.centered {
    align-self: center;
    text-align: center;
}

.centered.title {
    letter-spacing: .5rem;
    font-size: 3em;
    font-weight: bolder;
}

.centered.subtitle {
    font-weight: lighter;
}

:root {
    color-scheme: light dark;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    zoom: 1.2;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  :root {
    zoom: 1.3;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    zoom: 1.4;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.5;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.55;
  }
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.6;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  :root {
    zoom: 1.65;
  }
}

@media screen and (min-width: 1800px) {
    :root {
        zoom: 1.7;
    }
}
