:root {
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5 {
  color: light-dark(#4c4f69,#cdd6f4);
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
}

b,
strong {
  color: light-dark(#dc8a78, #f5e0dc);
}

a {
  color: light-dark(#8839ef, #cba6f7);
}

html {
  color: light-dark(#4c4f69,#cdd6f4);
  font-family: "Palatino", "Georgia", serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: light-dark(#eff1f5,#1e1e2e);
}

body {
  width: 800px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}
