h1,
h2,
h3 {
    font-family: 'Sarabun', sans-serif;
    font-weight: normal;
    align-self: center;
    text-align: center;
}

h4 {
    font-family: 'Sarabun', sans-serif;
    font-weight: lighter;
    margin: 0.05rem;
}

h5 {
    font-family: 'Sarabun', sans-serif;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-top: 0.1rem;
}

a {
    color: light-dark(#aa20bb, #9750a9);
}

code {
    font-family: 'Iosevka Term Slab Light Extended', monospace;
    font-size: 0.9rem;
    color: light-dark(#8a0a0a, #ffdcef);
}

body {
    font-family: "Crimson", serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    scrollbar-gutter: stable;
    overflow-y: scroll;
    background-color: light-dark(#f6efef, #2d2d3f);
    color: light-dark(#0a0a2a, #efdcef);
}

p {
    line-height: 1.4;
}

nav {
    padding-top: 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#content {
    align-self: center;
    box-sizing: border-box;
    padding: 0 30px;
    max-width: min(600px, 100vw);
}

#blog-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#blog-navigation > div {
    font-size: 0.8em;
}

#footer-links {
    align-self: center;
    box-sizing: border-box;
    padding: 30px 30px;
    max-width: min(600px, 100vw);
}

.content-item {
    padding: 10px 10px;
}

.summary {
    font-size: 0.8em;
    margin-left: 1em;
}

.content-item:hover {
    background-color: light-dark(#fcefef, #2d2d46);
}

.centered {
    align-self: center;
    text-align: center;
}

.toc {
    font-family: 'Sarabun', sans-serif;
}

.overtitle.centered {
    font-weight: lighter;
}

.centered.title {
    letter-spacing: .5rem;
    font-size: 3em;
    font-weight: bolder;
}

.centered.subtitle {
    font-weight: lighter;
    line-height: 0.5;
}

:root {
    color-scheme: light dark;
    font-size: 1rem;
    font-kerning: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.block p {
    padding-top: 0;
    font-size: 0.8em;
    padding-left: 12px;
    padding-right: 12px;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    zoom: 1.2;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  :root {
    zoom: 1.3;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    zoom: 1.4;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.5;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.55;
  }
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.6;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  :root {
    zoom: 1.65;
  }
}

@media screen and (min-width: 1800px) {
    :root {
        zoom: 1.7;
    }
}
